body{
    background: #fffd8da6;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-item{
    position: relative;
}

.remove-btn{
    position: absolute;
    right: 0;
    margin-right: 20px;
}

.todo-item .remove-btn {
    visibility: hidden;
}

.todo-item:hover .remove-btn {
    visibility: visible;
}

.card{
    overflow: hidden;
}

.wellcome{
    margin-bottom: 2rem;
}

.dont-show{
    display: none;
}

.show{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
}